<div class="title_bar">
    <h1>メディア</h1>
</div>
<div class="office_image">
    <%= image_tag "maturi.png", :size =>'1260x500' %>
</div>
<div class="show_tweet">
  <div class="show_image">
    <%= image_tag @tweet.image,class:"show_img" %>
  </div>
  <div class="show_title">
    <%= @tweet.title %>
  </div>
  <div class="show_comment">
    <%= @tweet.comment %>
  </div>
</div>