h1 {
  color: green;
}

header {
}

.header-nav {
  display: flex;
  background-color: #eaf3ff;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

li {
  list-style: none;
  padding: 10px;
}

.header-logo {
  color: black;
  float: left;
  padding: 10px 30px;
  width: 50%;
}

.header-list {
  width: 50%;
}


.main {
  background-color: wheat;
  height: 1200px;
}

.main_view {
  position: relative;
}

.main_view p {
  color: rgb(62, 177, 77);
  font-size: 100px;
  font-family: 'A1 Mincho', sans-serif;
  position: absolute;
    top: 30%;
    left: 30%;
}

.main_text {
  color: cornflowerblue;
  font-size: 25px;
  text-align: center;
}