h1 {
  color: green;
}

header {
}

.header-nav {
  display: flex;
  background-color: #eaf3ff;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

li {
  list-style: none;
  padding: 10px;
}

.header-logo {
  color: black;
  float: left;
  padding: 10px 30px;
  width: 50%;
}

.header-list {
  width: 50%;
}